<!--<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">-->

<div class="esjy_nav ">
    <a class="logo" href="/admin/login">Bio管理系统</a>
    <a class="navitems <% if(channel == 'brand'){ %>active<% } %>" id="branditem" href="/admin/brand">品牌和经销商</a>
    <a class="navitems <% if(channel == 'handle'){ %>active<% } %>" id="handleitem" href="/admin/pdf">操作手册</a>
    <a class="navitems <% if(channel == 'literature'){ %>active<% } %>" id="literatureitem"
       href="/admin/literature">文献</a>
    <a class="navitems <% if(channel == 'video'){ %>active<% } %>" id="videoitem" href="/admin/video">视频</a>
    <a class="navitems <% if(channel == 'product'){ %>active<% } %>" id="agencyitem" href="/admin/product">货品</a>
    <a class="navitems <% if(channel == 'users'){ %>active<% } %>" id="useritem" href="/admin/users">用户操作</a>
</div>
