<link rel="stylesheet" href="/stylesheets/itemLine.css">

<!--2，列表部分-->
<div class="esjy-col-1 items">
  <ul class="itemLists">
    <li class="item">
      <img src="/images/yuan-assets/pdf.png" alt="">
      <div class="itemName">CEDIA Mycophenolic Acid Assay Package Insert</div>
      <div class="itemNum">商品编码：
        <span>#A2080</span>
        <span>#A2099</span>
      </div>
    </li>

    <li class="item">
      <img src="/images/pdf1.png" alt="">
      <div class="itemName">ThermoFisher.HMGB1 Polyclonal Antibody</div>
      <div class="itemNum">商品编码：
        <span>#A2080</span>
        <span>#A2099</span>
      </div>
    </li>

  </ul>
</div>
