<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
<header class="Header clearfix" role="banner">
    <div class="Header-brand  clearfix">
        <a class="pc-logo hidden-xs" href="/">
            <img class="Header-logo img-responsive" src="/images/yuan-assets/GrainService.png">
        </a>

        <a class="mob-logo visible-xs"id="articles" href="/">
            <img class=" " src="/images/yuan-assets/GrainService.png" >
        </a>

    </div>
    <nav class="Header-middle Navigation">
        <ul class="Navigation-list">
            <li class="Navigation-item"><a id="search" href="/item" >搜一搜</a></li>
            <li class="Navigation-item"><a id="myCollections" href="/myCollections">我的收藏</a></li>
            <li class="Navigation-item"><a id="myOperation" href="/myOperation">我的记录</a></li>
            <li class="Navigation-item"><a id="mySamples" href="/mySamples">我的试用品</a></li>
        </ul>
    </nav>
</header>
</body>
</html>